<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 3</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="css/css/bootstrap.min.css">
    <script src="css/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="content">
        <div class="xs">DISPOSITIVOS MUY PEQUEÑOS</div>
        <div class="sm">DISPOSITIVOS PEQUEÑOS</div>
        <div class="md">DISPOSITIVOS MEDIANOS</div>
        <div class="lg">DISPOSITIVOS GRANDES</div>
        <div class="xl">DISPOSITIVOS MUY GRANDES</div>

    </div>
    <div class="main">
        <div class="row">

   

            <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
                    <div class="card-header">Cabecera</div>
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                      <div class="card-footer">Pie</div>
                    </div>
                  </div>
            
       

                  <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
            <div class="card-header">Cabecera</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <div class="card-footer">Pie</div>
            </div>
          </div>

          <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
            <div class="card-header">Cabecera</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <div class="card-footer">Pie</div>
            </div>
          </div>


          <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
            <div class="card-header">Cabecera</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <div class="card-footer">Pie</div>
            </div>
          </div>


          <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
            <div class="card-header">Cabecera</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <div class="card-footer">Pie</div>
            </div>
          </div>


          <div class="card col-12  col-sm-10 col-md-6 col-lg-4">
            <div class="card-header">Cabecera</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <div class="card-footer">Pie</div>
            </div>
          </div>

        </div>

    </div>

    
</body>
</html>