




<h2>Hores</h2>

<div class="row mb-2" >
    <div class="d-grid d-md-flex justify-content-md-end">
      <button class="btn btn-outline-primary" type="button">Noves hores Extra</button>
     </div>
  </div>


<div class="row mb-2">
    <div class="d-grid d-md-flex justify-content-md-center">

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">HORES EXTRES COBRADES</div>
            <div class="card-body">
                <h4 class="card-title text-center">0</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">HORES EXTRES NO COBRADES</div>
            <div class="card-body">
                <h4 class="card-title text-center">0</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div> 
</div>


<hr class="mt-3">

<h2>Dietes</h2>

<div class="row mb-2" >
    <div class="d-grid d-md-flex justify-content-md-end">
      <button class="btn btn-outline-primary" type="button">Nova Dieta</button>
     </div>
  </div>


<div class="row mb-2">
    <div class="d-grid d-md-flex justify-content-md-center">


        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">DIETES COBRADES</div>
            <div class="card-body">
                <h4 class="card-title text-center">0</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">DIETES NO COBRADES</div>
            <div class="card-body">
              <h4 class="card-title text-center">0</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div> 
</div>
